@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/*COLOURS COLOURS COLOURS COLOURS COLOURS */
/*

FONT: ROBOTO 
Light White = #f6f5f5
Gray/lightblue = #d3e0ea
Turquoise = #1687a7
Dark green = #276678*/

html {
  font-family: "Roboto", sans-serif;
}

/*-- Body Reset --*/
body {
  overflow-x: hidden;

  color: #276678;
  background-color: #f6f5f5;
  font-size: 1.3rem;
}



/*============= TOP BAR HEADER =============*/
header
{
  background-color: #276678!important;
}
.logo {
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  border: 4px white solid;
  border-radius: 12px;
  padding: 5px;
}
nav a:hover {
  color: #276678;
}

.top-bar {
  background: #709fb0;
  height: 2.8rem;
  padding: 0.5rem 0;
}
.top-bar a {
  text-decoration: none;
  font-size: 1.1rem;
}

/*============= CAROUSEL =============*/
#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  max-height: 39rem !important;
}
/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}

/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.carousel-caption p {
  font-size: 2rem;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.border-primary {
  border-top: 0.2em solid #a7c5eb !important;
}
.bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 1rem;
}
.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}
.btn-danger {
  background-color: #276678;
  border: 0.1rem solid;
}
.btn-primary {
  background-color: #276678;
  border: 0.1rem solid #276678;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #d3e0ea !important;
  color: #1c2f3c;
  border: 0.1rem solid #d3e0ea !important;
}
.container svg {
  height: 6rem;
  color: #276678;
}

/*============SERVICES MENU================= */
.menu-area {
  /* background: url(../img/menu-bg.jpg) center; */
  background-size: cover;
}

.single-menu {
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px #d3e0ea;
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 30px;
}

.single-menu .title-div {
  padding-bottom: 20px;
}

.single-menu__btn {
  text-align: center;
  padding: 10px;
}

.single-menu p {
  margin-bottom: 0;
}

/*============= PRODUCTS PAGE =============*/

.product {
  border: 1px solid black;
}
.products {
  flex-direction: row;
  overflow: auto;
  flex-wrap: nowrap;
}

/*===== FIXED BACKGROUND IMG =====*/
.fixed {
  background-image: url("../img/background.jpg");
  filter: brightness(40%);

  position: fixed;
}

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
  padding: 10rem 0;
}
/*-- Emoji Navbar --*/

/*============= FOOTER =============*/
footer {
  background: #383838;
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p,
footer a,
.socket a {
  color: white;
  text-decoration: none;
}
ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li {
  margin: 0 auto;
}
footer .svg-inline--fa {
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover {
  color: aqua;
}

/*============= SOCKET =============*/

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
}

/*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*ECOMMERCE GRID */
a {
  color: white;
}
a:hover {
  color: #383838;
  text-decoration: none;
}
section {
  padding: 25px 0px;
}
img {
  width: 100%;
}
header#header {
  background: #fff;
  border-bottom: 2px solid #75b61a;
}

.head-text {
  text-align: left;
}

img.head-img {
  width: 500px;
}

.box-icon {
  display: inline-block;
}

.box-title {
  display: inline-grid;
  margin-left: 20px;
}

.box-title h3 {
  font-size: 23px;
}

.box-icon i {
  color: #75b61a;
  font-size: 30px;
}
.shipping-box {
  background: #1c2f3c;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

.products {
  background: #f6f7f2;
  padding: 10px;
  transition: all 0.5s;
}

.product-desc {
  text-align: center;
}
.product-rating {
  width: 100px;
  margin: auto;
  margin-bottom: 5px;
}
.products:hover {
  box-shadow: 0px 0px 5px 1px #ddd;
}

.product-img {
  margin-bottom: 20px;
}
.product-img img {
  cursor: pointer;
}
.action-buttons {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-buttons button .btn-outline {
  padding: 6px 20px;
  border-radius: 5px;
  border: 2px solid #ccc !important;
  margin: 0 4px;
}

.action-buttons .btn-outline-icon {
  padding: 6px 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin: 0 4px;
}

.action-buttons button:hover {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.185);
}
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}
