# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\brady\Documents\HUMBER COLLEGE\PHP CLASS\HomePage- PhysioPHP\PHPHomePage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
